@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli";
  height: auto;
  width: auto;
  margin: 0 auto;
  clear: both;
}
.marg-top {
  margin-top: auto;
}

.covid-text {
  text-transform: uppercase;
  padding-bottom: 20px;
  font-family: "Bebas Neue";
  font-size: 56px;
  letter-spacing: 2px;
}

.covid-text-map {
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-size: 32px;
  margin-bottom: -10px;
  letter-spacing: 2px;
}
.back {
  background-color: #ffc702;
  padding-top: 35px;
}

.covid-nav-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.covid-open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.act {
  text-decoration: underline overline;
}

#white {
  background-color: white;
}
.vid-space {
  padding: 10px 0px;
}

.vid-pad {
  width: fit-content;
  padding: 20px;
  border-radius: 10px;
}

.covid-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.covid-nav.visible {
  transform: translateX(0);
}

.covid-nav-black {
  background-color: rgb(34, 31, 31);
  width: 60%;
  max-width: 350px;
  min-width: 320px;
  transition-delay: 0.4s;
}

.covid-nav-black.visible {
  transition-delay: 0s;
}

.covid-nav-red {
  background-color: rgb(229, 9, 20);
  transition-delay: 0.2s;
  width: 95%;
}

.covid-nav-red.visible {
  transition-delay: 0.2s;
}

.covid-nav-white {
  background-color: #ffcb30;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
  width: 95%;
}

.covid-nav-white.visible {
  transition-delay: 0.4s;
}

.covid-close-btn {
  opacity: 0.3;
  position: absolute;
  top: 40px;
  right: 30px;
}

.covid-logo {
  width: 150px;
}

.covid-list {
  list-style-type: none;
  padding: 0;
}

.covid-list li {
  margin: 20px 0;
}

.left {
  background-color: #e3e3e3;
}

.left > p > ul li {
  text-align: left;
  justify-content: center;
  font-size: 17px !important;
}

.left > ul li {
  text-align: left;
  justify-content: center;
  font-size: 17px !important;
}

.left > p {
  text-align: left;
  justify-content: center;
  padding: 2.5% 2%;
  font-size: 17px !important;
}

.covid-list li a {
  color: rgb(34, 31, 31);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.covid-list ul {
  list-style-type: none;
  padding-left: 20px;
}

.item {
  border-bottom: 1px solid #e3e3e3;
}

.accordion__panel {
  background-color: #e3e3e3;
}
.social-panel ul li a:hover {
  border-color: #ff6a00;
  box-shadow: 0 9px 12px -9px #ff6a00;
}

.floating-btn {
  border-radius: 26.5px;
  background-color: #001f61;
  border: 1px solid #001f61;
  box-shadow: 0 16px 22px -17px #03153b;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color: #001f61;
}

.floating-btn:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    transform: translateX(0px);
    position: fixed;
    top: 5px;
    right: 5px;
  }
  .prep {
    width: 90% !important;
  }
  .iclass {
    height: 600px;
    width: 100%;
  }

  .iclass > iframe {
    width: 100% !important;
    height: 100%;
  }

  .iclass1 {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center !important;
    align-content: space-around;
    align-items: stretch;
  }
  .iclass1 > iframe {
    width: 65%;
  }

  .floating-btn {
    right: 10px;
    position: fixed;
    top: 5px;
    right: 5px;
  }
}
.iclass {
  height: 1000px;
  width: 80%;
}

.iclass1 {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  align-items: stretch;
}
.iclass1 > iframe {
  width: 95%;
}

/*kpe*/
.img-fluid {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 250px;
  align-content: center;
}

.main {
  margin-left: 10%;
  margin-right: 10%;
}

li,
p {
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.img-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 8px;
  padding: 10px;
  border-bottom: 1px solid #3e3e3e;
}

.img-grid > div {
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
}
.point-pad {
  padding-right: 10px;
}

/*prep*/
.prep {
  background-color: #f3f3f3;
  width: 75%;
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: -1000;
}

.faq-cover {
  padding: 20px 0px;
  transition: 0.3s;
}

.back-span {
  background-color: white !important;
}

.prep-para {
  transition: 0.3s;
}

.prep-cover {
  padding: 20px 8px;
  border-bottom: 1px solid #e3e3e3;
  transition: 0.3s;
}

.prep-cover:hover {
  background-color: white;
  padding: 23px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.prep-sp {
  text-align: left;
  display: inline-block;
}

.tips-con {
  display: grid;
  grid-template-columns: 380px auto;
  grid-gap: 10px;
  padding: 10px 15px 10px 15px;
}

.tips-con > div {
  text-align: left;
  padding: 20px 0;
  font-size: 20px;
}

.tips-con > div > img {
  margin-left: 11%;
}

li {
  padding-bottom: 7px;
}

.question {
  height: 180px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.right {
  float: right;
  padding-right: 7%;
}
.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.bot {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  height: 48px;
  z-index: 500;
}

.bot p {
  margin: 0px 0;
  padding: 10px 0px;
}

.bot i {
  color: red;
}

.bot a {
  color: yellow;
  text-decoration: none;
}
